# Trabajo Práctico ACN
## Simulación Molino de Viento

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Cargamos los datos del viento

In [8]:
viento = pd.read_excel('WindData.xlsx')
viento

       dia  regional wind  wind gap norte sur
0        1       8.000000            0.000000
1        2       8.346296            0.181523
2        3      10.062316            0.188643
3        4      10.791337            0.071085
4        5      10.754093            0.078442
...    ...            ...                 ...
3645  3646       8.642231           -0.869425
3646  3647       6.527408           -1.268447
3647  3648       6.230707           -1.149234
3648  3649       5.550882           -0.420431
3649  3650       6.545450            0.250088

[3650 rows x 3 columns]